.topHeader {
    background-image: linear-gradient(to right, #0D57C6, #37CFFF, #0F5ED6);
    min-height: 28px;
    height: 28px;
    display: flex;
    justify-content: space-around;
}

.subtract {
    display: flex;
    align-items: center;
}

.subtract p {
    font-size: 14px;
    font-weight: 400;
    color: #F3F2F2;
    padding-left: 10px;
}

.subtract p span {
    font-weight: 700;
    size: 12px;
    color: #FACA4A;
}

.contact {
    display: flex;
    align-items: center;
}

.contact p {
    display: inline;
}

.contact {
    color: #F3F2F2;
    font-weight: 400;
    font-size: 12px;
}

.contact svg {
    margin-right: 7px;
}

.holine {

    line-height: 16;
}

.holine span {
    font-size: 14px;
    color: #FACA4A;
    line-height: 20;
    padding-right: 20px;

}


.mainHeader {
    min-height: 111px;
    margin-top: 20px;
}

.menu {
    display: flex;
    position: relative;
}

.menuItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 12px 11px;
}

.menuItem:hover {
    background: #E6F1FF;
    border-radius: 30px;
}

.menuItem p {
    margin-left: 5px;
    font-size: 16px;
    font-weight: 500;
}

.cardHover {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 999;
    background: white;
    padding: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    width: 300px;
}