.myFooter {
    position: relative;
}

.myFooter>img {
    width: 1920px;
    height: 464px;
    opacity: 35%;
    position: absolute;
}

.system {
    display: flex;
    justify-content: space-between;
    background: #E6F1FF;
    padding: 32px 240px;
}

.location {
    display: flex;
    align-items: center;
}

.system button {
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    color: #025FCA;
    padding: 12px 24px;
    border-radius: 20px;

}

.system button svg {
    transform: translateY(5px);
}

.location p {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    color: #1C252E;
    padding-left: 10px;

}

.company {
    margin-top: 96px;

}

p {
    color: #013065;

}

.companyTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    font-size: 20px;

}

.companyContent {
    margin: 25px 0;
    color: #637381;
}

.companyContent span {
    font-weight: 500;
}


.listTitle {
    margin-top: 96px;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 32px;
}

.listInfo li {
    margin-top: 14px;
}

.Sitemap li a {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: #637381;
}

.Legal li a {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #637381;

}

.Legal b {
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
}


.Download img {
    margin-top: 20px;
    cursor: pointer;
}

li {
    list-style-type: none;
}

.menuItem {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menuItem p {
    margin-left: 7px;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
}