* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

}

body {
    width: 1920px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

.container {
    width: 1440px !important;
    margin: 0 auto;
}

.ant-collapse-header-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0%;
}